@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.body{
  background-color: #000000;
}

.header_text_1 {
  margin:0;
  margin-top: 50px; 
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.header_text_2 {
  margin:0;
  margin-top: 6px; 
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #FFFFFF;
}

.header_text_3 {
  margin:0;
  margin-top: 6px; 
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.5;
}

.button_container{
  margin:0;
  display: flex;
  align-items: content;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-top: 12px;
}

.cv{
  border-style: solid;
  border-color: #6d61f2;
  color: #6d61f2;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  text-align: center;
  font-family: 'Montserrat';
}

.contact{
  border-style: solid;
  border-color: #6d61f2;
  background-color: #6d61f2;
  color: #000000;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 16px;
  text-align: center;
  font-family: 'Montserrat';
}

.contact:hover{
  background-color: #000000;
  color: #6d61f2;
}

.photo_container{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.line{
  text-align: center;
}

.planet{
  margin-top: 20px;
  height: auto;
  width: 100%;
}

.about_me{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 36px;
  text-align: justify;
  font-size: 16px ;
  font-family: 'Montserrat';
  color: #FFFFFF;
}

.footer{
  text-align: center;
  font-size: 16px ;
  font-family: 'Montserrat';
  color: #6d61f2;
}





